<aside class="sidebar">
  <input id="toc-toggle" class="toc-toggle visually-hidden" type="checkbox" />
  <label for="toc-toggle">目次 <span class="visually-hidden">切替</span></label>

  <%= toc_for(data.pages) %>

  <%= link_to "&#11014; トップに戻る".html_safe, "#", class: "back-to-top" %>
</aside>
